*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: auto;
    height: 100%;
    background-color:whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    margin: auto;
    height: 88vh;
    background-color: white;
}

.logo{
    width: 12%;
    height: auto;
    margin-left: 8%;
    background-color: white;
}

.logo img{
    width: 100%;
    height: auto;
}

.menu{
    width: 80%;
    height: auto;
    /* border: 3px dashed white; */
}

nav{
    display: flex;
    width: 100%;
    /* margin: auto; */
    height: 18%;
    background-color: #2196f3;
    margin-bottom: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 250px;
    margin: 0 40px;
    text-transform: uppercase;
}

ul{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 18px;
}

nav ul li a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer{
    display: flex;
    width:90%;
    margin: auto;
    height: 12vh;
    background-color: #f2a122;
}

.lado-1{
    width: 33%;
    height: 100%;
    /* border: 3px solid black; */
}

.lado-2{
    width: 33%;
    height: 100%;
    /* border: 3px solid white; */
}

.lado-2 img{
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
}

.lado-3{
    width: 33%;
    height: 100%;
    /* border: 3px solid black; */
}

.section-1{
    display: flex;
    width: 84%;
    margin: auto;
    height: 80%;
    /* border: 3px solid red; */
}

.section-1-1{
    width: 50%;
    height: 95%;

    background-image: url('./images/mujer-con-gafas-realidad-virtual-cuadro1.jpg');
    background-position: center;
    background-size: cover;
}

.section-1-a{
    width: 50%;
    height: 95%;

    background-image: url('./images/mujer-con-gafas-realidad-virtual-cuadro2.jpg');
    background-position: center;
    background-size: cover;
}
.section-1-2{
    width: 50%;
    height: 100%;
    background-color:beige;
}


.form-container{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
}

.form-container h1{
    margin-bottom: 20px;
}

.sign-in-container{
    width: 100%;
    margin: auto;
    border: 3px solid blue;
    margin-top: 10%;
}


.social-container{
    display: flex;
    margin-bottom: 10%;
}

.social{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}

.redes{
    width: 45px;
    height: 45px;
}

.social:hover{
    background-color: #e0e0e0;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 7%;
    border: 1px solid #ccc;
}

h2{
    font-size: 2rem;
    margin-bottom: 7%;
}

.olvido-contraseña{
    display: block;
    margin-bottom: 6%;
    text-decoration: none;
    color: black;
}

.cuenta{
    text-decoration: none;
    color: #0000ff;
}

.entrar{
    width: 100%;
    padding: 10px;
    background-color: #2196f3;
    color: #fff;
    margin-top: 20px;    
}
